@mixin gb {
	background-image: url(setImagePath("http://www.foobar.com/images/horizontal.png", $imgPath, $version));
	background-size: 320px 32px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	background-position: 0px 0px;
}
@mixin gd {
	background-image: url(setImagePath("http://www.foobar.com/images/horizontal.png", $imgPath, $version));
	background-size: 320px 32px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	background-position: -32px 0px;
}
@mixin ge {
	background-image: url(setImagePath("http://www.foobar.com/images/horizontal.png", $imgPath, $version));
	background-size: 320px 32px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	background-position: -64px 0px;
}
@mixin gg {
	background-image: url(setImagePath("http://www.foobar.com/images/horizontal.png", $imgPath, $version));
	background-size: 320px 32px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	background-position: -96px 0px;
}
@mixin gh {
	background-image: url(setImagePath("http://www.foobar.com/images/horizontal.png", $imgPath, $version));
	background-size: 320px 32px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	background-position: -128px 0px;
}
@mixin gl {
	background-image: url(setImagePath("http://www.foobar.com/images/horizontal.png", $imgPath, $version));
	background-size: 320px 32px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	background-position: -160px 0px;
}
@mixin gm {
	background-image: url(setImagePath("http://www.foobar.com/images/horizontal.png", $imgPath, $version));
	background-size: 320px 32px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	background-position: -192px 0px;
}
@mixin gn {
	background-image: url(setImagePath("http://www.foobar.com/images/horizontal.png", $imgPath, $version));
	background-size: 320px 32px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	background-position: -224px 0px;
}
@mixin gq {
	background-image: url(setImagePath("http://www.foobar.com/images/horizontal.png", $imgPath, $version));
	background-size: 320px 32px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	background-position: -256px 0px;
}
@mixin gr {
	background-image: url(setImagePath("http://www.foobar.com/images/horizontal.png", $imgPath, $version));
	background-size: 320px 32px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	background-position: -288px 0px;
}
